<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.takeawayMapper">

    <select id="selectUserType" parameterType="String" resultType="INTEGER" >
        SELECT isBusiness FROM users WHERE phone = #{phone}
    </select>

    <!--  查询用户个数  -->
    <select id="selectUserCount" resultType="INTEGER">
        SELECT count(*) from users
    </select>

    <!--  查询所有商家  -->
    <select id="selectAllBusiness" resultType="Business">
        SELECT * FROM businessdetails
    </select>

    <!--  根据商户手机号查询到这个商户的信息  -->
    <select id="selectBusinessByPhone" parameterType="String" resultType="Business">
        SELECT * from businessdetails WHERE BnsPhone = #{phone}
    </select>

    <!--  查询用户表里是否有该人  -->
    <select id="selectUserByUsers" parameterType="String" resultType="INTEGER">
       SELECT COUNT(*) FROM users where phone =  #{phone}
    </select>

    <!--  注册一个用户  -->
    <insert id="insertUser" parameterType="String">
        INSERT into users(phone) VALUES(#{phone})
    </insert>


</mapper>